.Header-Logo {
    margin-top: 32px;
    margin-bottom: 33px;
    margin-left: 3%;
}

.Header-Menu {
    margin-left: 1.5%;
}
.Header-Menu ul {
  margin-top: 36px;
}
.Header-Menu li {
    font-size: 16px;
    font-weight: bold;
    margin-left: 27px;
    display: inline-block;
    cursor: pointer;
}
.Header-Menu  li:first-child {
    margin-left: 0;
}
.Nav-Item {
    text-decoration: none;
    color: #858585;
    display: block;
}
.Nav-Item_isActive {
    color: #333333;
}
