.Header-Logo {
    margin-top: 22px;
    margin-bottom: 18px;
    margin-left: 5.3%;
}

.Header-Menu {
    margin-left: 5%;
}
.Header-Menu li {
    width: 100%;
    margin-top: 10px; 
}
.Header-Menu  li:first-child {
    margin-left: 27px;
}
.Header-Menu ul {
    display: none;
}
.Header-Menu .Nav::before,
.Header-Menu::after {
    position: absolute;
    top: 27px;
    right: 20px;
    display: block;
    background-image: url(./icon_list_m.png);
    cursor: pointer;
    height: 14px;
    width: 16px;
    content: '';
}
.Header-Menu::after {
    z-index: 1;
}
.Header-Menu .Nav::before {
    z-index: 2;
}
.Header-Menu .Nav:focus::before {
    z-index: 0;
}
.Header-Menu .Nav:focus ul,
.Header-Menu ul:hover {
    display: block;
}
