.VideoPage {
    min-height: 100%;
    font-family: Arial;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.VideoPage-Header {
    border-bottom: 1px solid #F0F0F0;
}

.VideoPage-Main {
    padding: 15px 5%;
    height: 100%;
}

.VideoContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
}
