.VideoPage {
    min-height: 100vh;
    font-family: Arial;
    display: grid;
    grid-template-rows: auto 1fr 63px;
}
.VideoPage-Header {
    border-bottom: 1px solid #F0F0F0;
}

.VideoPage-Main {
    padding: 15px 5%;
}
